@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(0, 156, 146);
    color: hsl(0, 43%, 20%);
    font-family: 'Cabin', sans-serif;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

img {
    display: block;
    width: 100%;
}

video {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.flex-item {
    flex: 1;
}

.videoframe {
    overflow: hidden;
    max-height: 60vh;
}

header {
    padding: 2rem;
    background-color: hsl(211, 60%, 80%);
}

header nav li {
    display: inline;
}

header nav li a {
    padding: 1rem;
    background-color: #eaebf4;
    color: #dc2731;
}

header img {
    width: 6rem;
}

header input {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 9rem;
}

header i {
    margin-left: 1ch;
    color: #eaebf4;
    font-size: 1.1rem;
}

header i:hover {
    color: rgb(192, 52, 52);
}

/* vormgeving van mijn main inhoud */

main {
    padding: 0 2vw;
}

section {
    margin-bottom: 4rem;
}

#featured img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.flexke {
    display: flex;
}

.between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: #000;
    padding: 1rem;
}

#membership .flex-item {
    padding: 3rem;
}

.highlight {
    background-color: hsl(191, 35%, 67%);
    color: darkblue;
}

.achtergrondfoto {
    background-image: url('static/img/groepsfoto.webp');
    background-size: cover;
    background-position: center;
    align-self: stretch;
}

footer {
    padding: 3rem;
    background-color: rgb(215, 188, 240);
}

footer a {
    color: red;
    text-decoration: none;
}

footer li {
    list-style: none;
}

footer li:first-child a {
    font-weight: bolder;
    font-size: 1.5rem;
}