@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: #76d982;
    --bgc-02: #57d44e;
    --txt-01: hsl(0, 0%, 90%);
    --txt-02: hsl(313, 65%, 52%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

img {
    width: 100%;
}

a {
    color: var(--txt-02);
}

header {
    display: grid;
    grid-template-columns: 200px 2fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--bgc-02);
}

header .logo {
    display: flex;
}

header nav {
    justify-self: end;
    align-self: end;
}

header li {
    display: inline;
}

section {
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer {
    padding: 2rem;
    background-color: var(--bgc-02);
}